@import '~antd/dist/antd.css';

.editIcon:hover {
    cursor: pointer;
}

.App {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 100px;
    height: 100vh;
}

.ant-table-thead .ant-table-selection-column div {
    display: none;
}

.ant-checkbox-checked .ant-checkbox-inner::after {
    position: absolute;
    display: table;
    border: 0px solid #fff;
    left: 7.5px;
    top: 0px;
    bottom: 4;
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
    -webkit-transition: none;
    transition: none;
    content: '_';
    color: white;
    font-size: 18px;
}

.ant-checkbox::after {
    position: absolute;
    display: table;
    border: 0px solid #fff;
    left: 8.5px;
    top: 7px;
    bottom: 4;
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
    -webkit-transition: none;
    transition: none;
    content: '+';
    color: #1890ff;
    font-size: 18px;
}
